html, body {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    scroll-behavior: smooth;
  }
  
.menu-bar {
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 2;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom:  .1vw solid black;
}

.navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.welcome-div {
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 1.3vw;
    font-family: Righteous;
    color: black;
}

a:hover{
    color: #c57051;
}

#puggle-image {
    object-fit: contain;
}

#welcome-title{
    font-family: Amatic SC;
    font-size: 4vw;
    color: white;
    position: absolute;
    top: 13vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#welcome-subtitle {
    font-family: Cookie;
    font-style: italic;
    font-size: 2.5vw;
    color: white;
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#head-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    filter: brightness(75%)
}

#hotel-background {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    opacity: 0.8;
}

#events {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accommodations {
    display: flex;
    width: 100%;
}

#hotel-cell{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.section-titles {
    font-family: Amatic SC;
    font-size: 58px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 10px;
}

#hotel-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    gap: 1vw;
}

#hotel-title {
    font-family: Amatic SC;
    font-size: 4vw;
    color: #e6c3b1;
    margin: 3vw 0 16vw 0;
}

.hotel-subtitle {
    font-family: Righteous;
    color: #c57051;
    font-size: 1vw;
    margin: 0;
}

#hotel-button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:Righteous,sans-serif;
    font-weight:300;
    font-size: 1.2vw;
    width: 20vw;
    color:#FFFFFF;
    background-color: #d6a259;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}

#hotel-button:hover {
    background: #e6c3b1;
}
